footer {
    box-shadow: -1px -12px 23px -3px rgba(64,1,1,0.41);

    .footer_text {
        p {
            font-family: $text;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    .footer_social {
        font-size: 150px;
    }
    }

}