* {
    box-sizing: border-box;
}

body {
    font-family: $text;
    font-size: 15px;
}

main {
    min-height: calc(100vh - 250px);
}

h2 {
    font-family: $title;
    color: $text-color;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
form {
    input {
        width: 50%;
        border: 1px solid $accent;
        padding: 10px;
        font-family: $text;
        outline: none;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    button {
        margin-top: 10px;
        background-color: $call-to-action;
        color: $white;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        display: inline-block;
        border: none;
    }
}